{{ if .Entry.Author }}
<h2><a href="{{ self_url .Feed.Link }}">{{ .Entry.Author.Name }}</a></h2>
{{ end }}
<h3><a href="{{ alt_url .Entry.Link }}">{{ .Entry.Title }}</a></h3>
<h4>Posted {{ humanize .Time }}</h4>
{{ .Content }}
